
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 0 auto;
}


header {
	height: 100px;
	background-color: #fff;
	display: flex;
	justify-content: space-between;
	align-items: center;   
}

.menu__category li {
	display: inline;
	padding: 20px;
}

.menu__category a {
	padding-bottom: 36px;
	transition: all 0.2s ease;
	color: black;
}
.icon-menu{
    width: 300px;
}

/* ----------------------------------------------------- */
nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
nav a {
  display: block;
  text-decoration: none;
  outline: none;
  transition: .4s ease-in-out;

}
.topmenu > li {
  display: inline-block;
  position: relative;
}
.topmenu > li > a {
  font-family: 'Exo 2', sans-serif;
  height: 70px;
  line-height: 70px;
  padding: 0 30px;
  font-weight: bold;
  color: #003559;
  text-transform: uppercase;
}
.submenu {
  background: white;
  position: absolute;
  left: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 5;
  width: 150px;
  transform: perspective(600px) rotateX(-90deg);
  transform-origin: 0% 0%;
  transition: .6s ease-in-out;
}
.topmenu > li:hover .submenu{
  visibility: visible;
  opacity: 1;
  transform: perspective(600px) rotateX(0deg);
}
.submenu li a {
  color: #7f7f7f;
  font-size: 13px;
  line-height: 36px;
  padding: 0 25px;
  font-family: 'Kurale', serif;
}
.text_logo{
    text-transform: uppercase;
    text-align: center;
}
.girl{
    width: 300px;
    height: 300px;
    
}
section.pizza{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(4,1fr);
    margin-top: 300px;
    
}
section.cake{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  grid-template-rows: repeat(4,1fr);
  margin-top: 300px;
  
}

.mini_pizza{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.mini_cake{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.buy{
    display: flex;
    justify-content: space-around;
    width: 60%;
}
.hiden_pizza{
  display: none;  
}
.hiden_cake{
  display: none;
}
body {
  border-left: 1px solid rgb(14, 255, 255); 
  border-right: 1px solid rgb(14, 255, 255); 
  padding: 0 30px; 
  margin: 0 10%; 
}

.text_logo h3 {
  display: table;
  width: auto;
  margin: 15px auto;
  letter-spacing: 2px;
}
.text_logo h3:before {
  content: "";
  position: absolute;
  top: -50%;
  left: -25px;
  width: 30px;
  height: 20px;
  border-top: 2px solid #00e1ff;
  border-left: 2px solid  #00e1ff;
}
.text_logo h3:after {
  content: "";
  position: absolute;
  bottom: -50%;
  right: -25px;
  width: 30px;
  height: 20px;
  border-bottom: 2px solid #00e1ff;
  border-right: 2px solid  #00e1ff;
}
.logo {
  padding: 20px 0;
  text-align: center;
}
h3 {
  font-family: 'Merriweather', serif;
  font-size: 20px;
  letter-spacing: 1px;
  max-width: 320px;
  width: 100%;
  position: relative;
  display: inline-block;
  color: #465457;
}
hr {
  border: none; /* Убираем границу */
  background-color: red; /* Цвет линии */
  color: red; /* Цвет линии для IE6-7 */
  height: 2px; /* Толщина линии */
}